<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "fi.metropolia.bs"
		versionCode="1"
		version = "1.0.0">

		<name>Bookshelf</name>

	<description>Library locator client.</description>

	<author href="http://users.metropolia.fi/~jounilaa/prj" email="jouni.laakso2@metropolia.fi">
		Project.
	</author>

	<icon src="Icon.png" width="60" height="72" />
	<icon src="Icon-small.png" gap:platform="ios" width="24" height="29" />
	<icon src="Icon-small.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="Icon-small.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="Icon.png" gap:platform="android" gap:qualifier="hdpi" />

	<preference name="orientation" value="landscape" />

	<!-- <gap:platform name="ios" /> -->
	<!-- <gap:platform name="android" /> -->
	

	<!-- <gap:splash src="splash.png" /> -->

	<!-- Directions: -->
	<!-- https://build.phonegap.com/people/sign_in -->
	<!-- http://docs.build.phonegap.com/en_US/introduction_getting_started.md.html -->
	
	<!-- Repository -->
	<!-- https://github.com/mpart/BS -->
	
	<!--  App ID: 1164074 Version n_a PhoneGap 3.3.0 -->
	
	<!-- https://build.phonegap.com/apps/1164074/install -->
	
</widget>
